.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: var(--xx-small);

    & a {
        cursor: pointer;
        border: none;
        background: none;
        display: flex;
        padding: 0;
        outline: 0;

        & > svg {
            height: var(--x-slarge);
            width: var(--x-large);
            color: var(--text-base);
            transition: color 0.25s ease-out;

            &:hover,
            &:focus {
                color: var(--text-active);
            }
        }
    }
}

.name {
    font-size: var(--x-large);
    margin-bottom: var(--small);
}

.jobRole {
    font-size: var(--large);
    margin-bottom: var(--medium);
}

.links {
    display: flex;
    margin-bottom: var(--medium);

    & > *:not(:last-child) {
        margin-right: var(--large);
    }
}

.scroll {
    margin-bottom: var(--large);
}
